<style>

#chatbox
{
    border: 5px solid black;
    padding: 5px;
}

.desktop #chatbox
{
    position: absolute;
    right: 5%;
}

.activity
{
    background-color:red;
    margin: 5px;
    padding: 5px;
}

</style>

<td id="chatbox" class="panel">
    <div id="send-message">
        <input type="text" class="focus" placeholder="Chat with town..."/>
        <button class="send">Send</button>
    </div><br/>
    <div id="activities">
        <div class="activity">
            Theredwillow logged in.
        </div>
        <div class="activity">
            testuser123 entered from Oak's Lab.
        </div>
        <div class="activity">
            testuser456: "Enter the house and bother the lady lolololol"
        </div>
    </div>
</td>
