<style>
    #sign-in
    {
        background-color: lavender;
        border-radius: 20px;
        padding: 17px;
    }

    .desktop #sign-in
    {
        top: 12%;
        left: 0%;
        height: 34%;
    }

    #notification {
        font-weight: bold;
        color: red;
        visibility: hidden;
    }
</style>

{{#if user}}

<script>

    var signOutButton;
    var notificationSpan;

    var defineVariables = function() {
        signOutButton = document.getElementById("sign-out-button");
        notificationSpan = document.getElementById("notification");

        signOutButton.addEventListener("click", logOut);
    };
    window.addEventListener("load", defineVariables);

    var logOut = function(name,password) {
        var ajax = new XMLHttpRequest();
        ajax.open( 'POST', '/logout' );
        ajax.onload = function() {
            if ( ajax.status === 200 ) {
                var dbResult = JSON.parse(ajax.responseText);
                if ( "error" in dbResult ) {
                    notificationSpan.innerHTML = dbResult.error;
                    notificationSpan.style.visibility = "visible"; 
                    // throw dbResult.error;
                }
                else {
                    notificationSpan.style.visibility = "hidden"; 
                    location.reload();
                }
            }
            else {
                notificationSpan.innerHTML = "Database connection error, please try again.";
                notificationSpan.style.visibility = "visible";
            }
        };
        ajax.send();
    };

</script>

<td id="sign-in" class="panel">
    Username: {{user}}<br/>
    <span id="notification">Log-out error</span><br/>
    <button id="sign-out-button">Sign Out</button><br/>
    <br/>
    Play offline / Play with friends / Play online
</td>

{{else}}

<script>

    var usernameField;
    var passwordField;
    var signInArea;
    var signInButton;
    var notificationSpan;

    var defineVariables = function() {
        usernameField = document.getElementById("username");
        passwordField = document.getElementById("password");
        signInArea = document.getElementById("sign-in");
        signInButton = document.getElementById("sign-in-button");
        notificationSpan = document.getElementById("notification");

        signInButton.addEventListener("click", tryLoggingIn);
    };
    window.addEventListener("load", defineVariables);

    var attemptLogin = function(name,password) {
        var ajax = new XMLHttpRequest();
        ajax.open( 'POST', '/login?user=' + name + '&pw=' + password );
        ajax.onload = function() {
            if ( ajax.status === 200 ) {
                var dbResult = JSON.parse(ajax.responseText);
                if ( "error" in dbResult ) {
                    notificationSpan.innerHTML = dbResult.error;
                    notificationSpan.style.visibility = "visible"; 
                    // throw dbResult.error;
                }
                else {
                    notificationSpan.style.visibility = "hidden"; 
                    location.reload();
                }
            }
            else {
                notificationSpan.innerHTML = "Database connection error, please try again.";
                notificationSpan.style.visibility = "visible";
            }
        };
        ajax.send();
    };

    var tryLoggingIn = function() {
        attemptLogin( usernameField.value, passwordField.value );
    };

</script>

<td id="sign-in" class="panel">
    Username:<br/>
    <input type="text" id="username"/><br/>
    Password:<br/>
    <input type="password" id="password"/><br/>
    <span id="notification">Log-in error</span><br/>
    <button>Register</button><button id="sign-in-button">Sign In</button>
</td>

{{/if}}
