<html>
<head>
    <title>PokemonJS</title>
</head>
<body>

    <script src="scripts/controls.js"></script>
    <script src="scripts/util.js"></script>
    <script src="scripts/handlecss.js"></script>
    <script src="locations/TestLocation.js"></script>
    <script src="sprites/MaleTrainer.js"></script>

    <script>
        
        var town = new TestLocation();
        town.map.draw();

        var player = new MaleTrainer("player");
        player.name = "Jared";
        player.draw(town, 10, 20);

        var test = new MaleTrainer();
        test.name = "Bob";
        test.draw(town, 5, 10);

    </script>

</body>
</html>
