<!doctype html>
<html lang="en">
<head>
  <title>PokemonJS</title>
  <link rel="manifest" href="/manifest.json"/>
  <meta name="Description" content="Explore the world of Pokemon online with friends!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="mobile-web-app-capable" content="yes">
  {{> util/loader}}
</head>
<body>

{{> panels/1_user}}

{{> panels/2_gameboy}}

{{> panels/3_chatbox}}

<script>

    window.socketFuncs = {};

    Promise.all([
        load.css('/styles/index.css'),
        load.js('/javascripts/logInHandler.js'),
        load.css('/styles/offlineSlider.css'),
        load.js('/javascripts/offlineSlider.js'),
        load.css('/styles/gameboy.css'),
        load.img('/images/gameboy.webp', '#device'),
        load.js('/javascripts/resizeHandler.js'),
        load.js('/javascripts/swipe.js'),
        load.js('/javascripts/panelChooser.js'),
        load.js('https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js'),
        load.js('/javascripts/startGame.js'),
        load.css('/fonts/pokemon/pokemonFont.css')
    ]).then(function() {
        console.log('Everything has loaded!');

        {{> util/loadServiceWorker}}

        (function(){
            var socket = io.connect('http://127.0.0.1:4000');
            if ( socket !== undefined ) {

                drawLogIn();

                window.credentials = {
                    username : localStorage.getItem("username"),
                    token : localStorage.getItem("token")
                };

                {{> socket/askToSignIn}}
                {{> socket/askToSignOut}}

                if ( window.credentials.username && window.credentials.token ) {
                    {{> socket/askIfTokenWorks}}
                }
                else
                    drawLogIn();
                
                socket.emit("aUserSignIn");

                {{> socket/askToLoadGame}}

                {{> socket/aUserSignedIn}}

            }
            else {
                console.log("Database connection error");
            }
        })();
    }).catch(function(errUrl) {
        console.log('Oh no, epic failure!', errUrl);
    });

</script>

</body>
</html>