<html>
<head>
    <title>PokemonJS</title>
    <link rel="stylesheet" href="/styles/pokemonFont.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" charset="utf-8" />
    <script src="/scripts/menu.js"></script>
</head>
<body>

{{> login}}

<div id="instructions">
    Sign in to resume your game.<br/>
    <br/>
    Or...<br/>
    Sign up to start your adventure!
</div>

{{> gameboy}}

</body>
</html>
