<div id="a_button" class="round_button"
    onclick="document.dispatchEvent(keydownEvents['a']);"></div>
<div id="b_button" class="round_button"
    onclick="document.dispatchEvent(keydownEvents['b']);"></div>

<div id="up_button" class="directional_button"
    onclick="document.dispatchEvent(keydownEvents['up']);"></div>
<div id="down_button" class="directional_button"
    onclick="document.dispatchEvent(keydownEvents['down']);"></div>
<div id="left_button" class="directional_button"
    onclick="document.dispatchEvent(keydownEvents['left']);"></div>
<div id="right_button" class="directional_button"
    onclick="document.dispatchEvent(keydownEvents['right']);"></div>

<div id="start_button" class="setting_button"
    onclick="document.dispatchEvent(keydownEvents['start']);"></div>
<div id="select_button" class="setting_button"
    onclick="document.dispatchEvent(keydownEvents['select']);"></div>
