<script src="scripts/controls.js"></script>
<script>

    var gameboy;
    var gameboyScreen;
    var menuOptions;

    var defineVariables = function() {
        gameboy = document.getElementById("gameboy");
        gameboyScreen = document.getElementById("gameboy_screen");
        menuOptions = document.getElementsByClassName("menu_option");

        {{#unless user}}
        gameboyScreen.style.backgroundColor = "black";
        {{/unless}}

        changeGBWidth();

    };
    window.addEventListener("load", defineVariables);

    var changeGBWidth = function() {
        var gbHeight = gameboy.getBoundingClientRect().height;
        if (!gbHeight) return setTimeout(changeGBWidth, 100);
        gameboy.style.width = 0.62 * gbHeight;
    };
    window.addEventListener("optimizedResize", changeGBWidth);

</script>

<style>
    
#gameboy
{
    height: 100%;
    background-image: url("/images/gameboy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 0px;
}

.desktop #gameboy
{
    left: 35%;
}

.mobile #gameboy
{
    left: 0px;
    right: 0px;
    top:10px;
}

#gameboy_screen {
    background-color: darkgreen;
    color: cyan;
    position: relative;
    width: 44%;
    height: 24.5%;
    left: 25%;
    top: 14%;
    padding: 3%;
}

.menu_option {
    font-family: 'pokemon', Arial, sans-serif;
    letter-spacing: 1px;
    padding: 3px;
}

.selected {
    border-width: 5px;
    border-style: double;
}

.round_button {
    opacity: 0;
    width: 13%;
    height: 8%;
    position: absolute;
    border-radius: 50%;
}

#a_button {
    top: 60%;
    left: 78%;
}

#b_button {
    top: 65%;
    left: 62%;
}

.directional_button {
    opacity: 0;
    position: absolute;
    width: 8%;
    height: 5%;
}

#up_button {
    top: 60%;
    left: 18%;
}

#down_button {
    top: 70%;
    left: 18%;
}

#left_button {
    top: 65%;
    left: 10%;
}

#right_button {
    top: 65%;
    left: 26%;
}

.setting_button {
    opacity: 0;
    position: absolute;
    top: 80%;
    width: 13%;
    height: 3%;
    border-radius: 36%;
    transform: rotate(-26deg);
}

#start_button{
    left: 46%;
}

#select_button {
    left: 30%;
}

</style>

<td id="gameboy" class="panel in-view">
    {{> gameboy/screen}}
    {{> gameboy/buttons}}
</td>
