<div id="gameboy_screen">
{{#if user}}

<script>
    var mainMenu = new MenuDisplay();

    mainMenu.options = [
        "Resume Game",
        "New Game",
        "Settings"
    ];

    /*
    mainMenu.finalize.anySelection = function(selection) {
        alert("You chose to " + selection);
    };
    */
    mainMenu.finalize[0] = function() {
        window.location.href = "/game";
    };
    mainMenu.finalize[1] = function() {
        window.location.href = "/game/new";
    };

    var drawMenu = function() {
        var gameboyScreen = document.getElementById("gameboy_screen");
        mainMenu.draw(gameboyScreen);
    }
    window.addEventListener("load", drawMenu);
</script>

{{/if}}
</div>
