#connectivity-option
{
    position: relative;
    display: inline-block;
    min-width: 260px;
    height: 110px;
}

#connectivity-option input
{
    visibility: hidden;
}

.connection-option
{
    height: 37px;
}

.connectivity-spacing
{
    line-height: 37px;
}

#connectivity-option label
{
    position: absolute;
    left: 64px;
    cursor: pointer;
    width: 100%;
}

.slider
{
    position: absolute;
    top: 0;
    left: 3px;
    width: 50px;
    height: 100%;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25px;
}

.slider:before
{
    position: absolute;
    content: "";
    height: 42px;
    width: 42px;
    top: 4px;
    left: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

#limited-selection:checked ~ .slider:before
{
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
}

#offline-selection:checked ~ .slider:before
{
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
}
